@model SOP_IAA_DAL.ordenModificacion

@{
    ViewBag.Title = " OM";
}

<h3>Nueva Órden de Modificación</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idContrato)

    <div class="form-horizontal">
        <div class="container-fluid panel-body" style="max-width:1500px">

            <div id="rootwizard">

                <!-- 1. Create the tabs themselves  -->
                <!-- data-toggle required. -->
                <ul class="nav nav-tabs" role="tablist">
                    <li><a href="#step1" role="tab" data-toggle="tab">Datos de OM</a></li>
                    <li><a href="#step2" role="tab" data-toggle="tab">Items</a></li>
                </ul>

                <br />
                <!-- 2. Create progress bar -->
                <!-- div class="progress" required. -->
                <!-- on div id="progressBar" class="progress" required. -->
                <div class="progress progress-striped active">
                    <div id="progressBar" class="progress-bar progress-bar-striped" role="progressbar">
                        <div class="bar">
                            <span></span>
                        </div>
                    </div>
                </div>

                <!-- 3. Create a matching tab pane for each tab. Content goes within these panes -->
                <div class="tab-content">

                    <!-- Esto despliega los mensajes de error adjuntados al modelo en el controlador (en caso de haber errores al realizar el POST)-->
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="tab-pane active" id="step1" style="min-height:377px">
                        <div class="form-group">
                            @Html.LabelFor(model => model.numeroOficio, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.numeroOficio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.numeroOficio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", @id = "txtFecha" } })
                                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.objetoOM, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.objetoOM, htmlAttributes: new { @class = "form-control", @rows = 4, @placeholder = "Máx 200 caracteres" })
                                @Html.ValidationMessageFor(model => model.objetoOM, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <!-- Sección de datos de los items -->
                    <div class="tab-pane" id="step2" style="min-height:377px">
                        <div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    @*<input class="form-control" id="txtFechaCargar" placeholder="Fecha que aplica" title="Fecha valida para todo el mes" />*@
                                </div>
                                <div class="col-sm-9">
                                    @*<input class="btn btn-primary" type="button" onclick="cargarItems(@ViewBag.idContrato)" value="Cargar ítems" id="btnCargarItems" />*@
                                </div>
                            </div>
                        </div>

                        <!-- Panel que contendrá la tabla dinámica de ítems -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Items a Modificar
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="tbItems" class="table">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">Código Item</th>
                                                <th style="text-align:center">Descripción</th>
                                                <th style="text-align:center">Unidad de Medida</th>
                                                <th style="text-align:center">Cantidad Programada</th>
                                                <th style="text-align:center">Cantidad Realizada</th>
                                                <th style="text-align:center">A Reajustar</th>
                                                <th style="text-align:center">Aumento/Disminición(OM)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Aqui se cargarán las filas dinámicamente con la información de los ítems -->
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel-default -->
                    </div>
                </div>

                

                <!-- 4. Declare buttons used by the wizard. -->
                <!-- "pager wizard" required. -->
                <ul class="pager wizard">
                    <!-- These show as disabled on first tab. Add style="display:none;" to make the First button disappear when first tab.	  -->
                    <li class="first previous"><a href="#" accesskey="f">Primero</a></li>
                    <li class="previous"><a href="#" accesskey="p" onclick="clearTable()">Anterior</a></li>
                    <li class="next"><a href="#" accesskey="n" onclick="cargarItems(@ViewBag.idContrato)">Siguiente</a></li>
                    <li class="last" style="display:none;"><input type="submit" value="Crear Orden Modificación" class="btn btn-success" /></li>
                </ul>
            </div><!-- ./tab-content -->

        </div>

    </div> <!-- /.container fluid -->
}

<div>
    @Html.ActionLink("Atrás", "Index", new { idContrato = Model.idContrato })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!-- scripts para los estilos del jquery -->
    <script src="~/Scripts/jquery-ui-1.11.1.js"></script>

    <!-- Función para el autocompletado del dropdown -->
    <link rel="stylesheet" href="~/Content/AutoCompleteComboBox.css">
    <script src="~/Scripts/AutoCompleteComboBox.js"></script>

    <!-- Función del datatable-->
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <!-- Función para realizar operaciones con decimales -->
    <script src="~/Scripts/API Decimales/decimal.js"></script>

    <!-- Funciones internas de crear -->
    <script src="~/Scripts/OrdenModificacion/CreateMethods.js"></script>

    <!-- Scripts y css para el single date picker -->
    <script src="~/Scripts/DatePicker/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="~/Content/DatePicker/bootstrap-datetimepicker.css" />
    <script type="text/javascript" src="~/Scripts/DatePicker/locales/bootstrap-datetimepicker.es.js" charset="UTF-8"></script>

    <!-- Se establece la fecha inicial mínima -->
    @*<script>
            var json = @Html.Raw(Json.Encode(@ViewBag.FechaInicio));
            var fecha = json.Data.fechaInicio;
            var fechaInicio = fecha.substring(6) + '-' + fecha.substring(3,5) + '-' + fecha.substring(0,2);
        </script>*@
}