@model SOP_IAA_DAL.ordenModificacion

@{
    ViewBag.Title = "Eliminar OM " + Model.numeroOficio;
}

<h2> </h2>

<h3>
    @SOP_IAA_Utilerias.Utilerias.ValorRecurso(SOP_IAA_Utilerias.Utilerias.ArchivoRecurso.UtilRecursos, "MSJ_CONFIRM_ELIMINAR_OM")
</h3>

<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numeroOficio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroOficio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetoOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetoOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrato.licitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrato.licitacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar OM" class="btn btn-danger" /> |
            @Html.ActionLink("Atrás", "Index", new { idContrato = Model.idContrato })
        </div>
    }
</div>
