@model SOP_IAA_DAL.Contrato 
       @*IEnumerable<SOP_IAA_DAL.ordenModificacion>*@

@{
    ViewBag.Title = Model.licitacion + " OM";
}

<h2> </h2>

<p>
    @Html.ActionLink("Agregar Órden de Modificación", "Create", new { idContrato = @Model.id }, new { @class = "btn btn-primary" })
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        Contratación @Model.licitacion
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbPlanInversion" class="table">
                <thead>
                    <tr>
                        <th>
                            Número de Oficio
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Objeto de la Órden de Modificación
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aqui se cargarán las filas dinámicamente  -->
                    @foreach (var item in Model.ordenModificacion)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.numeroOficio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.objetoOM)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

<div>
    @Html.ActionLink("Atrás", "MiContrato", "Contrato", new { id = Model.id }, null)
</div>