@model SOP_IAA_DAL.planInversion

@{
    ViewBag.Title = "Plan de Inversión";
}


<br />
<div>
    <div style="text-align:right">
        @Html.ActionLink("Editar Plan", "Edit", new { idPlan = @Model.id }, new { @class = "btn btn-warning", @style = "width:150px" })
        |
        <!-- Button trigger modal -->
        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="width:150px">
            Eliminar Plan
        </button>
    </div>
    <br />
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align:center">
                        @SOP_IAA_Utilerias.Utilerias.ValorRecurso(SOP_IAA_Utilerias.Utilerias.ArchivoRecurso.UtilRecursos, "MSJ_CONFIRM_ELIMINAR_PLAN") (@System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName((int)@Model.mes).ToUpperInvariant())
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning">
                        Realizar esta operación conllevará cierto tiempo.
                    </div>
                </div>
                <div class="modal-footer">
                    <img src="~/Content/Images/loading.gif" id="loadingGif" style="display: none;" />
                    @Html.ActionLink("Eliminar Plan", "DeleteAllConfirmed", new { idPlan = @Model.id }, new { @class = "btn btn-danger", @id = "btnDeleteConfirmed", @style = "width:150px" })
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>


<div class="row form-group">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Plan de Inversión para @System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName((int)@Model.mes).ToUpperInvariant() de @Model.ano
                <input id="txtMontoPlan" class="btn-xs pull-right" value="0,0000" disabled style="text-align:right" />
                <label class="pull-right btn-xs">Monto Acumulado del plan</label>
            </div>
            <!-- .panel-heading -->
            <div class="panel-body">
                <div class="panel-group" id="rutasAcordeon">
                    @foreach (var group in Model.pICI.GroupBy(m => new { m.ruta }))
                    {
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="@string.Format("#collapse" + @group.First().idRuta)" aria-expanded="false" class="collapsed">Ruta @group.First().ruta.nombre</a>
                                    
                                    <input class="btn-xs pull-right" value="0,0000" disabled style="text-align:right"/>
                                    <label class="pull-right btn-xs">Monto por Ruta</label>
                                </h4>

                            </div>
                            <div id="@string.Format("collapse" + @group.First().idRuta)" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="@string.Format("tbItems" + group.First().idRuta)" class="table">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Item</th>
                                                    <th style="text-align:center">Descripción</th>
                                                    <th style="text-align:center">Unidad de Medida</th>
                                                    <th style="text-align:center">Precio(₡)</th>
                                                    <th style="text-align:center">Cantidad</th>
                                                    <th style="text-align:center">Monto(₡)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Aqui se cargarán las filas dinámicamente con la información de los ítems -->
                                                @foreach (var item in group)
                                                {
                                                    <tr>
                                                        <td style="text-align:center">@item.contratoItem.item.codigoItem</td>
                                                        <td>@item.contratoItem.item.descripcion</td>
                                                        <td style="text-align:center">@item.contratoItem.item.unidadMedida</td>
                                                        <td style="text-align:center"> <input class="form-control" disabled="disabled" value="@String.Format("{0:C4}", @item.contratoItem.precioUnitario)" style="text-align:right" /> </td>
                                                        <td style="text-align:center"> <input class="form-control" disabled="disabled" value="@item.cantidad" style="text-align:right" /> </td>
                                                        <td style="text-align:center"> <input class="form-control" disabled="disabled" value="@String.Format("{0:C4}", @item.cantidad * @item.contratoItem.precioUnitario)" style="text-align:right" /> </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div>
    @Html.ActionLink("Atrás", "index", new { idContrato = ViewBag.idContrato })
</div>
@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>
    
    <!-- Función para realizar operaciones con decimales -->
    <script src="~/Scripts/API Decimales/decimal.js"></script>
    
    <script src="~/Scripts/PlanInversion/PeriodoMethods.js"></script>
}