@model SOP_IAA_DAL.proyecto

@{
    ViewBag.Title = "Nuevo Proyecto";
}

<h2>Nuevo Proyecto</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Proyecto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idProgProy, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("idProgProy", null, htmlAttributes: new { @class = "form-control" })*@
                <input class="text-box single-line" id="idProgProy" name="idProgProy" type="hidden" value="@ViewBag.idProgProy"/>
                @*@Html.Hidden(model => model.idProgProy, ViewBag.idProgProy, new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.idProgProy,"", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoProyecto, "Tipo de proyecto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoProyecto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipoProyecto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idRuta, "Ruta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idRuta", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idRuta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, "Nombre",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.tipoProyecto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoProyecto", null, htmlAttributes: new { @class = "form-control" })
                <input class="btn btn-primary" type="button" id="btnAgregarProyecto" value="Agregar Proyecto" />
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear proyecto" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Atrás", "Index", new { _id = ViewBag.idP, _idContrato = ViewBag.idCont, _ano = ViewBag.ano, _trimestre = ViewBag.tri })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
