@model SOP_IAA_DAL.Proyecto

@{
    ViewBag.Title = "Eliminar Proyecto";
}

<div>
    <h4 class="text-warning">
        @SOP_IAA_Utilerias.Utilerias.ValorRecurso(SOP_IAA_Utilerias.Utilerias.ArchivoRecurso.UtilRecursos, "MSJ_CONFIRM_ELIMINAR_PROYECTO")
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contratacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contratacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lineaContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lineaContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondo.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>
