@model SOP_IAA_DAL.proyecto

@{
    ViewBag.Title = "Detalles del proyecto";
}
<h2>Detalles del proyecto</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.progProy.id)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.progProy.id)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ruta.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruta.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoProyecto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoProyecto.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id, _id = ViewBag.idP, _idContrato = ViewBag.idCont, _ano = ViewBag.ano, _trimestre = ViewBag.tri }) |
    @Html.ActionLink("Atrás", "Index", new { _id = ViewBag.idP, _idContrato = ViewBag.idCont, _ano = ViewBag.ano, _trimestre = ViewBag.tri })
</p>
