@model IEnumerable<SOP_IAA_DAL.proyecto>

@{
    ViewBag.Title = "Proyectos";
}

<h2>Proyectos</h2>

<p>
    @Html.ActionLink("Nuevo Proyecto", "Create", new { _idPP = ViewBag.idProgProy })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.progProy.id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ruta.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoProyecto.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.progProy.id)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ruta.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoProyecto.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id, _id = ViewBag.idP, _idContrato = ViewBag.idCont, _ano = ViewBag.ano, _trimestre = ViewBag.tri}) |
            @Html.ActionLink("Detalles", "Details", new { id = item.id, _id = ViewBag.idP, _idContrato = ViewBag.idCont, _ano = ViewBag.ano, _trimestre = ViewBag.tri }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id, _id = ViewBag.idP, _idContrato = ViewBag.idCont, _ano = ViewBag.ano, _trimestre = ViewBag.tri })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Atrás", "Index", "Programa" )
</div>
