@model SOP_IAA_DAL.programa

@{
    ViewBag.Title = "Proyectos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Proyecto", "Create",new { _id = Model.id })
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        Proyectos del contrato
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbProyectos" class="display">
                <thead>
                    <tr>
                        <th>Tipo de proyecto</th>
                        <th>Nombre de proyecto</th>
                        <th>Ruta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.proyecto)
                    {
                        <tr>
                            <td>@item.tipoProyecto.nombre</td>
                            <td>@item.nombre</td>
                            <td>@item.ruta.nombre</td>

                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.id}) |
                                @*@Html.ActionLink("Detalles", "Details", new { id = item.id, _id = ViewBag.idP, _idContrato = ViewBag.idCont, _ano = ViewBag.ano, _trimestre = ViewBag.tri }) |*@
                                @Html.ActionLink("Items", "ItemsProyecto", new { id = item.id }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

<div>
    @Html.ActionLink("Atrás", "Index", "Programa", new { id = Model.idContrato }, null)
</div>

@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbProyectos').dataTable({
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        })
    </script>
}