@model SOP_IAA_DAL.Contrato

@{
    ViewBag.Title = "Control de Inversión " + @Model.licitacion;
}

<h3></h3>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })




<div class="panel panel-default">
    <div class="panel-heading">
        Contratación @Model.licitacion
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbControlInversion" class="table">
                <thead>
                    <tr>
                        <th>Periodo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<DateTime> fechas = ViewBag.fechas;
                        foreach (var fecha in fechas)
                        {
                            <tr>
                                <td>
                                    @{
                                        var mes = System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName(fecha.Month);
                                    }
                                    @fecha.Year
                                    @mes
                                </td>
                                <td>
                                    @Html.ActionLink("Ver Balance", "Periodo", new { fecha = fecha, idContrato = ViewBag.idContrato })
                                </td>
                            </tr>
                        }
                    }
                    
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

<div>
    @Html.ActionLink("Atrás", "MiContrato", "Contrato", new { id = ViewBag.idContrato }, null)
</div>

@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbControlInversion').dataTable({
                "order": [],
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        });
    </script>
}