@model SOP_IAA_DAL.contratoItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>contratoItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.precioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrato.licitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrato.licitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item.codigoItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item.codigoItem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
