@model SOP_IAA_DAL.Contrato

@{
    ViewBag.Title = "Contrato Items";
}

<h2> </h2>

<p>
    @Html.ActionLink("Agregar Items", "Create", new { idContrato = Model.id }, new { @class = "btn btn-primary", @style = "width:150px" })
</p>

<br />

<div class="panel panel-default">
    <div class="panel-heading">
        Items del contrato @Model.licitacion
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbItems" class="display">
                <thead>
                    <tr>
                        <th>Código del Ítem</th>
                        <th>Descripción</th>
                        <th>Unidad de Medida</th>
                        <th>Precio Unitario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.contratoItem)
                    {
                        <tr>
                            <td>@item.item.codigoItem</td>
                            <td>@item.item.descripcion</td>
                            <td>@item.item.unidadMedida</td>
                            <td align="right"> @String.Format("{0:C3}",(item.precioUnitario))</td>
                            <td align="center">
                                @Html.ActionLink("Cambiar Precio", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Eliminar del Contrato", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>


<div>
    @Html.ActionLink("Atrás", "MiContrato", "Contrato", new { id = Model.id }, null)
</div>

@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbItems').dataTable( {
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        })
    </script>
}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.precioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato.licitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.codigoItem)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.precioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.licitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.codigoItem)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>*@


