@model IEnumerable<SOP_IAA_DAL.seccionControl>

@{
    ViewBag.Title = "Secciones de Control";
}

<h2></h2>

<p>
    @Html.ActionLink("Nueva Sección Control", "Create", null, new { @class = "btn btn-primary" })
</p>
<br />

<div class="panel panel-default">
    <div class="panel-heading">
        Lista Global de Secciones de Control
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbSeccionControl" class="table">
                <thead>
                    <tr>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.ruta.nombre)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.seccion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.descripcion)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aqui se cargarán las filas dinámicamente con la información de las SC -->
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.ruta.nombre)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.seccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbSeccionControl').dataTable({
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        })
    </script>
}
