@model SOP_IAA_DAL.boleta

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Boleta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numeroBoleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroBoleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seccionControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seccionControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estacionamientoInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estacionamientoInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estacionamientoFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estacionamientoFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inspector.idPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inspector.idPersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proyecto_estructura.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proyecto_estructura.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruta.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruta.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Atrás", "Index")
</p>
