@model IEnumerable<SOP_IAA_DAL.boleta>

@{
    ViewBag.Title = "Lista - Boletas";
}

<h2> </h2>

<p>
    @Html.ActionLink("Agregar Boleta", "Create", new { idContrato = ViewBag.idContrato }, new { @class = "btn btn-primary", @style = "width:150px" })
</p>
<br />

<div class="panel panel-default">
    <div class="panel-heading">
        Boletas del Contrato
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbBoletas" class="display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.numeroBoleta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ruta.nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fondo.nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.seccionControl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.estacionamientoInicial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.estacionamientoFinal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.periodo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.observaciones)
                        </th>
                        <th>
                            Inspector
                        </th>
                        <th>
                            Proyecto/Estructura
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.numeroBoleta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ruta.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fondo.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.seccionControl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.estacionamientoInicial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.estacionamientoFinal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.periodo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.observaciones)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.inspector.persona.nombre)
                                @Html.DisplayFor(modelItem => item.inspector.persona.apellido1)
                                @Html.DisplayFor(modelItem => item.inspector.persona.apellido2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.proyecto_estructura.descripcion)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                                @Html.ActionLink("Borrar", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<div>
    @Html.ActionLink("Atrás", "MiContrato", "Contrato", new { id = ViewBag.idContrato }, null)
</div>


@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbBoletas').dataTable({
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        })
    </script>
}
