@model SOP_IAA_DAL.programa

@{
    ViewBag.Title = "Programa Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar este programa?</h3>
<div>
    <h4>programa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trimestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trimestre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.progProy.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.progProy.fechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.progProy.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.progProy.fechaFin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.progProy.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.progProy.monto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Programa" class="btn btn-danger" /> |
            @Html.ActionLink("Atrás", "MisProgramas", new { _id = Model.idContrato })
        </div>
    }
</div>
