@model SOP_IAA_DAL.Contrato

@{
    ViewBag.Title = @Model.licitacion + " Programas";
}

<h2> Programas del contrato @Model.licitacion </h2>

<p>
    @Html.ActionLink("Nuevo Programa", "Create" ,new { id = Model.id }, new { @class = "btn btn-primary", @style = "width:150px" })
</p>
<table class="table">
    <tr>
        <th>Año</th>
        <th>Trimestre</th>
        <th>Fecha de inicio</th>
        <th>Fecha final</th>
        <th>Monto</th>
        <th>Licitación</th>
        <th></th>
    </tr>

@foreach (var item in Model.programa) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trimestre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrato.licitacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @*@Html.ActionLink("Proyectos", "AgregarProyecto", new { id = item.id }) |*@
            <a href=@Url.Action("Index", "Proyecto", new { _id = item.id })>Proyectos</a> |
               @Html.ActionLink("Eliminar", "Delete", new { id = item.id })</td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Atrás", "MiContrato", "Contrato", new { id = Model.id }, null)
</div>
