@model IEnumerable<SOP_IAA_DAL.programa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trimestre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato.licitacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trimestre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrato.licitacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
