@model IEnumerable<SOP_IAA_DAL.programa>

@{
    ViewBag.Title = "Programa";
}

<p>
    @Html.ActionLink("Nuevo Programa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contrato.licitacion)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.progProy.id)*@
            @Html.DisplayNameFor(model => model.ano)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.progProy.id)*@
            @Html.DisplayNameFor(model => model.trimestre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contrato.licitacion)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.progProy.id)*@
            @Html.DisplayFor(modelItem => item.ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trimestre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id, idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.id, idContrato = item.idContrato, ano =item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id, idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Agregar proyectos", "AgregarProyecto", new { id = item.id, idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
