@model SOP_IAA_DAL.Contrato

@{
    ViewBag.Title = @Model.licitacion + " Programas";
}

<h2> Programas del contrato @Model.licitacion </h2>
<p>
    @Html.ActionLink("Nuevo Programa", "Create", new { id = Model.id })
</p>
<table class="table">
    <tr>
        <th>
            Trimestre
        </th>
        <th>
            Año
        </th>
        <th>
            Fecha Inicio
        </th>
        <th>
            Fecha Fin
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.programa)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.trimestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.progProy.fechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.progProy.fechaFin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalles", "Details", new { idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Proyectos", "AgregarProyecto", new { id = ViewBag.idPrograma, idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "Delete", new { idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Atrás", "MiContrato", "Contrato", new { id = Model.id }, null)
</div>