@model SOP_IAA_DAL.Contrato

@{
    ViewBag.Title = "ProgramasEspecificos";
}

<h2> Programas del contrato @Model.licitacion </h2>
<p>
    @Html.ActionLink("Nuevo Programa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Año
        </th>
        <th>
            Trimestre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.programa)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trimestre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id, idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id, idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Proyectos", "AgregarProyecto", new { id = item.id, idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id, idContrato = item.idContrato, ano = item.ano, trimestre = item.trimestre/* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Contrato")
</div>