@using SOP_IAA.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Iniciar sesión";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <br /><br /><br /><br />
    <h2 class="text-center">@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 bordeShaded text-center center-block table-responsive col-centered">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <img alt="" src="~/Content/Images/candado.jpg" class="img-responsive center-block" />
                        @Html.LabelFor(m => m.Usuario, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", @autofocus = "true" })
                            @Html.ValidationMessageFor(m => m.Usuario, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Clave, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Clave, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Clave, "", new { @style="color:red" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-12 ">
                            <input type="submit" value="Iniciar sesión" class="btn btn-primary center-block" />
                        </div>
                    </div>
                    <div class="text-danger">
                        <!-- Esto despliega los mensajes de error adjuntados al modelo en el controlador (en caso de haber errores al realizar el POST)-->
                        @Html.ValidationSummary(true, "", new { @style = "color:red" })
                    </div>
                    <br />
                }
            </section>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}