@model SOP_IAA_DAL.proyectoItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>proyectoItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costoEstimado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoEstimado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contratoItem.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contratoItem.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proyecto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proyecto.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
