@model SOP_IAA_DAL.proyecto

@{
    ViewBag.Title = "Items del Proyecto";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Código Item
        </th>
        <th>
            Descripción
        </th>
        <th>
            Unidad de medida
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.proyectoItem) {
    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.item.codigoItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item.unidadMedida)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}
@foreach (var item in Model.progProy.programa)
{
    ViewBag.idContrato = item.idContrato;
    ViewBag.ano = item.ano;
    ViewBag.trimestre = item.trimestre;
}

</table>

<div>
    @Html.ActionLink("Atrás", "Index", "Proyecto", new { _idContrato = ViewBag.idContrato, _ano = ViewBag.ano, _trimestre=ViewBag.trimestre }, null)
</div>
