@model IEnumerable<SOP_IAA_DAL.proyectoItem>

@{
    ViewBag.Title = "Items del Proyecto";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costoEstimado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.codigoItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proyecto.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costoEstimado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item.codigoItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proyecto.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
