@model IEnumerable<SOP_IAA_DAL.itemReajuste>

@{
    ViewBag.Title = "Reajustes por períodos";
}

<h2></h2>
<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Agregar Reajuste", "Create", new { idContrato = ViewBag.idContrato }, new { @class = "btn btn-primary", @style = "width:150px" })
    </div>
    <div class="col-md-6" style="text-align:right">
        @Html.ActionLink("Exportar a excel", "exportarInformesItems", new { idContrato = ViewBag.idContrato }, new { @class = "btn btn-primary", @style = "width:150px" })
    </div>
</div>

<br />
<!--http://stackoverflow.com/questions/20349711/group-model-elements-by-date-in-table-using-razor-->
<div class="panel panel-default">
    <div class="panel-heading">
        Reajustes del Contrato
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbReajustes" class="display">
                <thead>
                    <tr>
                        <th>Período</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.GroupBy(m => new { m.mes, m.ano }))
                    {
                        <tr>
                            <td>
                                @{
                        var mes = System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName((int)group.First().mes);
                                }
                                @group.First().ano
                                @mes
                            </td>
                            <td>@Html.ActionLink("Ver Reajustes", "Periodo", new { fecha = group.First().fecha, idContrato = group.First().contratoItem.idContrato })</td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<div>
    @Html.ActionLink("Atrás", "MiContrato", "Contrato", new { id = ViewBag.idContrato }, null)
</div>

@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbReajustes').dataTable({
                "order": [],
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }


            });
        })
    </script>
}