@model IEnumerable<SOP_IAA_DAL.itemReajuste>

@{
    ViewBag.Title = "Reajustes por períodos";
}
<br />
<!--http://stackoverflow.com/questions/20349711/group-model-elements-by-date-in-table-using-razor-->
<div class="panel panel-default">
<div class="panel-heading">
    Reajustes @System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName((int)@Model.First().mes) @Model.First().ano
</div>

<!-- /.panel-heading -->
<div class="panel-body">
    <div class="table-responsive">
        <table id="tbReajustesI" class="display" style="text-align: center">
            <thead>
                <tr>
                    <th style="text-align:center">Item</th>
                    <th style="text-align:center">Descripción</th>
                    <th style="text-align:center">Precio Anterior</th>
                    <th style="text-align:center">Porcentaje de Reajuste</th>
                    <th style="text-align:center">Precio Reajustado</th>
                    <th style="text-align:center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model)
                {
                    <tr>
                        <td>
                            @group.contratoItem.item.codigoItem
                        </td>
                        <td style="text-align:justify">
                            @group.contratoItem.item.descripcion
                        </td>
                        <td style="text-align: right">
                            @String.Format("{0:C4}", (ViewBag.reajustesAnteriores[group.idContratoItem]))
                        </td>
                        <td style="text-align: right">
                            @String.Format("{0:P4}", (group.reajuste))
                        </td>
                        <td style="text-align: right">
                            @String.Format("{0:C4}", (group.precioReajustado))
                        </td>
                        <td>
                            @Html.ActionLink("Eliminar", "Delete", new { id = group.id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>

<div>
    @Html.ActionLink("Atrás", "index", new { idContrato = @ViewBag.idContrato })
</div>
@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbReajustesI').dataTable({
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        })
    </script>
}

