@model SOP_IAA_DAL.persona

@{
    ViewBag.Title = "Eliminar Persona";
}

<h2>
    @SOP_IAA_Utilerias.Utilerias.ValorRecurso(SOP_IAA_Utilerias.Utilerias.ArchivoRecurso.UtilRecursos, "MSJ_CONFIRM_ELIMINAR_PERSONA")
</h2>

<h3> </h3>
<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        @*
            <dt>
                @Html.DisplayNameFor(model => model.ingeniero.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ingeniero.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.inspector.idPersona)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.inspector.idPersona)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.usuario.nombreUsuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.usuario.nombreUsuario)
            </dd>
        *@
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Persona" class="btn btn-danger" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>
