@model IEnumerable<SOP_IAA_DAL.usuario>

@{
    ViewBag.Title = "Usuarios";
}

<h3>Administración de Usuarios</h3>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create", null, new { @class = "btn btn-primary", @style = "width:150px" })
</p>
<br />
@{
    SOP_IAA_DAL.usuario user = (SOP_IAA_DAL.usuario)Session["CurrentSession"];
    if (user.tipo != 1)
    {
        Response.Redirect("~/Contrato/Index");
    }
}

<div class="panel panel-default">
    <div class="panel-heading">
        Lista Global de Usuarios del Sistema
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbUsuarios" class="display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.nombreUsuario)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.contrasena)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.tipo)
                        </th>
                        <th>
                            Persona
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombreUsuario)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.contrasena)
                            </td>*@
                            @if (item.tipo == 1)
                            {
                                <td>Administrador</td>
                            }
                            else if (item.tipo == 2)
                            {
                                <td>Asistente</td>
                            }
                            else
                            {
                                <td>Observador</td>
                            }
                            <td>
                                @item.persona.nombre @item.persona.apellido1 @item.persona.apellido2
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.idPersona }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.idPersona }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.idPersona })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbUsuarios').dataTable({
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        })
    </script>
}