@model SOP_IAA_DAL.proyecto

@{
    ViewBag.Title = "Items del Proyecto";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create")
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        Items del proyecto
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbProyItem" class="display">
                <thead>
                    <tr>
                        <th>Código de item</th>
                        <th>Descripción</th>
                        <th>Unidad de medida</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.proyectoItem)
                    {
                        <tr>
                            <td>@item.idItem</td>
                            <td>@item.item.descripcion</td>
                            <td>@item.item.unidadMedida</td>

                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                        </tr>
                    }
                    @foreach (var item in Model.progProy.programa)
                    {
                        ViewBag.idContrato = item.idContrato;
                        ViewBag.ano = item.ano;
                        ViewBag.trimestre = item.trimestre;
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

<div>
    @Html.ActionLink("Atrás", "Index", "Proyecto", new { _idContrato = ViewBag.idContrato, _ano = ViewBag.ano, _trimestre = ViewBag.trimestre }, null)
</div>

@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbProyItem').dataTable({
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        })
    </script>
}