@model IEnumerable<SOP_IAA_DAL.zona>

@{
    ViewBag.Title = "Lista Zonas";
}

<h2></h2>

<p>
    @Html.ActionLink("Nueva Zona", "Create", null, new { @class = "btn btn-primary", @style = "width:150px" })
</p>
<br />

<div class="panel panel-default">
    <div class="panel-heading">
        Lista Global de Zonas
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbZonas" class="display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.nombre)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td align="center">
                                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                                @*@Html.ActionLink("Detalles", "Details", new { id = item.id }) |*@
                                @Html.ActionLink("Rutas Asociadas", "RutasAsociadas", new { id = item.id }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbZonas').dataTable({
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        })
    </script>
}