@model SOP_IAA_DAL.zona

@{
    ViewBag.Title = "RutasAsociadas";
}

<h2>Rutas de la zona @Model.nombre</h2>

<p>
    @Html.ActionLink("Editar las Rutas", "ZonaRutasEditar", new { id = Model.id })
</p>
<table class="table">
    <tr>
        <th>
            Ruta
        </th>
        <th>
            Descripción
        </th>
    </tr>

    @foreach (var item in Model.ruta)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Atrás", "index")
</p>