@model SOP_IAA_DAL.Contrato

@{
    ViewBag.Title = "Contratación" + @Model.licitacion;
    ViewBag.contratacion = @Model.licitacion;
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Contratación @Model.licitacion</h2>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <!-- Panel de información del contrato -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            @*<div class="panel-heading">
                <div class="row">
                    <div class="text-center">
                        <div class="fa fa-info-circle fa-5x"> </div>
                    </div>
                </div>
            </div>*@
            <a href="@Url.Action("Details", "Contrato", new { id = Model.id })">
                <div class="panel-footer">
                    <span class="pull-left">Detalles del Contrato</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- Panel de items del contrato -->
    <div class="col-lg-3 col-md-6">
        @*<div class="panel panel-green" style="border-color:#5cb85c">*@
        <div class="panel panel-primary">
            @*<div class="panel-heading">
                    <div class="row">
                        <div class="text-center">
                            <div class="fa fa-tasks fa-5x"> </div>
                        </div>
                    </div>
                </div>*@
            <a href="@Url.Action("Index", "ContratoItem", new { idContrato = Model.id })">
                <div class="panel-footer">
                    <span class="pull-left">Items del Contrato</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- Panel de reajustes -->
    <div class="col-lg-3 col-md-6">
        @*<div class="panel panel-yellow" style="border-color:#f0ad4e">*@
        <div class="panel panel-primary">
            <a href="@Url.Action("index", "ItemReajuste", new { idContrato = Model.id })">
                <div class="panel-footer">
                    <span class="pull-left">Reajustes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- Panel de boletas del contrato -->
    <div class="col-lg-3 col-md-6">
        @*<div class="panel panel-yellow" style="border-color:#f0ad4e">*@
        <div class="panel panel-primary">
            @*<div class="panel-heading">
                    <div class="row">
                        <div class="text-center">
                            <div class="fa fa-file-text fa-5x"> </div>
                        </div>
                    </div>
                </div>*@
            <a href="@Url.Action("index", "Boleta", new { idContrato = Model.id })">
                <div class="panel-footer">
                    <span class="pull-left">Boletas</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- Panel de plan de inversión del contrato -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <a href="@Url.Action("Index", "PlanInversion", new { idContrato = Model.id })">
                <div class="panel-footer">
                    <span class="pull-left">Plan de Inversión</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- Panel de control de inversión del contrato -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <a href="@Url.Action("Index", "ControlInversion", new { idContrato = Model.id })">
                <div class="panel-footer">
                    <span class="pull-left">Control de Cantidades</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- Panel de Ordenes de modificación del contrato -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <a href="@Url.Action("Index", "OrdenModificacion", new { idContrato = Model.id })">
                <div class="panel-footer">
                    <span class="pull-left">Órdenes de Modificación</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- Panel de Reportes del contrato -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <a href="@Url.Action("index", "Reportes", new { idContrato = Model.id })">
                <div class="panel-footer">
                    <span class="pull-left">Reportes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Datos Generales
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tbDetallesGenerales" class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.licitacion)</th>
                                <td>@Html.DisplayFor(model => model.licitacion)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.lineaContrato)</th>
                                <td>@Html.DisplayFor(model => model.lineaContrato)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.fechaInicio)</th>
                                <td>@Model.fechaInicio.ToLongDateString()</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.plazo)</th>
                                <td>@Html.DisplayFor(model => model.plazo)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.lugar)</th>
                                <td>@Html.DisplayFor(model => model.lugar)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.contratista.nombre)</th>
                                <td>@Html.DisplayFor(model => model.contratista.nombre)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.fondo.nombre)</th>
                                <td>@Html.DisplayFor(model => model.fondo.nombre)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.zona.nombre)</th>
                                <td>@Html.DisplayFor(model => model.zona.nombre)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <br />
</div>

<div class="row">
    <!-- Panel Danger -->
    <div class="col-sm-12">
        <div class="col-lg-offset-0">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Opciones del Contrato
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        @Html.ActionLink("Editar Contrato", "Edit", new { id = Model.id }, new { @class = "btn btn-warning", @style = "width:150px" }) |
                        @Html.ActionLink("Eliminar Contrato", "Delete", new { id = Model.id }, new { @class = "btn btn-danger", @style = "width:150px" })
                    </div>

                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    
    <script src="~/Content/admin_bootstrap.css"></script>
    
}